<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Feedback </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button *ngIf="autenticacaoService.isAdmin()" [routerLink]="['/autorizar']">
    Ir aprovar
  </ion-button>

  <div *ngFor="let fb of feedbacks">
    <ion-card>
      <img *ngIf="fb.images && fb.images.length > 0" src="{{fb.images[0].url}}" />
      <ion-card-header>
        <ion-card-subtitle>{{getFeedBackString(fb.tipo)}}</ion-card-subtitle>
        <ion-card-title>{{fb.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{fb.mensagem}} </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" side="top" (click)="deslogar()">
      <ion-icon color="danger" name="log-out"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="criarFeedback()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
