<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon (click)="dismiss()" name="arrow-back-outline"></ion-icon>
      <span> Criar feedback </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

      <ion-img
        *ngFor="let item of photoService.photos"
        [src]="item.webViewPath"
      ></ion-img>
    <form [formGroup]="formulario" (ngSubmit)="cadastrar()" novalidate>
      <ion-button (click)="adicionarFoto()">
        <span>Adicionar foto</span>
        <ion-icon name="camera"></ion-icon>
      </ion-button>

      <ion-item>
        <ion-label position="floating"
          >Titulo <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input formControlName="titulo" required></ion-input>
      </ion-item>
      <div
        class="errors"
        *ngIf="formulario.get('titulo').dirty || formulario.get('titulo').touched"
      >
        <span *ngIf="formulario.controls.titulo.errors?.required">
          Insira o título
        </span>
        <span *ngIf="formulario.controls.titulo.errors?.minlength">
          O título deve ter mais do que três caracteres
        </span>
      </div>

      <ion-item>
        <ion-label position="floating"
          >Mensagem <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-textarea formControlName="mensagem" required></ion-textarea>
      </ion-item>
      <div
        class="errors"
        *ngIf="formulario.get('mensagem').dirty || formulario.get('mensagem').touched"
      >
        <span *ngIf="formulario.controls.mensagem.errors?.required">
          Insira a mensagem
        </span>
        <span *ngIf="formulario.controls.mensagem.errors?.minlength">
          A mensagem deve ter pelo menos três caracteres
        </span>
      </div>

      <ion-item>
        <ion-label>Tipo do feedback</ion-label>
        <ion-select formControlName="tipo" cancelText="Sair" okText="Concluir!">
          <ion-select-option value="0">Critica</ion-select-option>
          <ion-select-option value="1">Sugestão</ion-select-option>
          <ion-select-option value="2">Elogio</ion-select-option>
        </ion-select>
      </ion-item>
      <div
        class="errors"
        *ngIf="formulario.get('tipo').dirty || formulario.get('tipo').touched"
      >
        <span *ngIf="formulario.controls.tipo.errors?.required">
          Selecione um item
        </span>
      </div>

      <ion-button type="submit" expand="block" fill="solid" shape="round">
        Cadastrar
      </ion-button>
    </form>
  </div>
</ion-content>
