<ion-header>
  <ion-toolbar>
    <ion-title>autorizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let fb of feedbacks">
    <ion-card>
      <img *ngIf="fb.images && fb.images.length > 0" src="{{fb.images[0].url}}" />
      <ion-card-header>
        <ion-card-subtitle>{{apiService.getFeedBackString(fb.tipo)}}</ion-card-subtitle>
        <ion-card-title>{{fb.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{fb.mensagem}} </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
